@import url(https://fonts.googleapis.com/css?family=Sansation:300,300italic,regular,italic,700,700italic);
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  background-color: rgb(0, 46, 71);
}

