@import url(https://fonts.googleapis.com/css?family=Sansation:300,300italic,regular,italic,700,700italic);
@import "tailwindcss";

:root {
  --ultra-violet: rgb(76, 67, 130);
  --pomp-and-power: rgb(146, 110, 165);
  --mimi-pink: rgb(252, 211, 222);
  --amaranth-pink: rgb(227, 162, 196);
  --sky-magenta: rgb(201, 112, 170);
}

body {
  font-family: "Sansation", sans-serif;
}

img {
  border: 1px solid var(--mimi-pink);
  box-shadow: 0 0 25px var(--mimi-pink);
  background-color: rgba(252, 211, 222, 0.4);
}
.mimi-pink-text {
  color: #fcd3de;
}

.ultra-violet {
  background-color: rgba(76, 67, 130, 1);
}

.pomp-and-power {
  background-color: rgba(146, 110, 165, 1);
}
.pomp-and-power-50 {
  background-color: rgba(146, 110, 165, 0.5);
}
.pomp-and-power-40 {
  background-color: rgba(146, 110, 165, 0.35);
}
.mimi-pink {
  background-color: rgba(252, 211, 222, 1);
}

.amaranth-pink {
  background-color: rgba(227, 162, 196, 1);
}

.sky-magenta {
  background-color: rgba(201, 112, 170, 1);
}
