@import url(https://fonts.googleapis.com/css?family=Sansation:300,300italic,regular,italic,700,700italic);
@import "tailwindcss";

:root {
  --ultra-violet: #4c4382ff;
  --pomp-and-power: #926ea5ff;
  --mimi-pink: #fcd3deff;
  --amaranth-pink: #e3a2c4ff;
  --sky-magenta: #c970aaff;
}

body {
  font-family: "Sansation", sans-serif;
}

.mimi-pink-text {
  color: #fcd3de;
}
